cp-tag {
  display: inline-block;
  padding: 0 8px;
  height: 20px;
  line-height: 16px;
  border-radius: 2px;
}

cp-tag::part(icon) {
  vertical-align: middle;
}

cp-tag::part(text) {
  line-height: normal;
  vertical-align: middle;
  font-size: 12px;
}

cp-tag::part(close-icon) {
  vertical-align: middle;
  cursor: pointer;
  margin-left: 2px;
}

cp-tag[color="success"] {
  color: var(--cp-success);
  border-color: var(--cp-success);
}

cp-tag[color="processing"] {
  color: var(--cp-processing);
  border-color: var(--cp-processing);
}

cp-tag[color="error"] {
  color: var(--cp-error);
  border-color: var(--cp-error);
}

cp-tag[color="warning"] {
  color: var(--cp-warning);
  border-color: var(--cp-warning);
}



body {
  /* 基本主题配色 */
  --cp-success: #52c41a;
  --cp-processing: #1890ff;
  --cp-error: #f5222d;
  --cp-warning: #fa8c16;
  /* 动画速度 */
  --cp-motion-fast: 150ms;
  --cp-motion-base: 300ms;
  --cp-motion-smooth: 450ms;
  --cp-motion-slow: 600ms;
}

@keyframes cp-animate-disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.cp-disappear {
  animation: cp-animate-disappear var(--cp-motion-base) ease;
  animation-fill-mode: forwards;
}

@keyframes cp-animate-appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cp-appear {
  animation: cp-animate-appear var(--cp-motion-base) ease;
  animation-fill-mode: forwards;
}

