cp-ripple {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: inherit;
}

.cp-ripple-item {
  border-radius: 50%;
  position: absolute;
  background-image: radial-gradient(circle, #000 90%, transparent 100%);
  transform: scale(0);
  opacity: 0;
  transition: transform var(--cp-motion-base)
      /* cubic-bezier(0.75, 0.23, 0.43, 0.82), */
      cubic-bezier(.45,.02,.39,.98),
    opacity var(--cp-motion-base);
}
