@keyframes cp-animate-disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.cp-disappear {
  animation: cp-animate-disappear 300ms ease;
  animation-fill-mode: forwards;
}

@keyframes cp-animate-appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cp-appear {
  animation: cp-animate-appear 300ms ease;
  animation-fill-mode: forwards;
}
