cp-tag {
  display: inline-block;
  padding: 0 8px;
  line-height: 18px;
  height: 20px;
  border-radius: 2px;

}

cp-tag::part(icon) {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

cp-tag::part(text) {
  font-size: 12px;
  vertical-align: middle;
}

cp-tag::part(close-icon) {
  cursor: pointer;
  margin-left: 2px;
  vertical-align: middle;
}

cp-tag[color="success"] {
  color: var(--cp-success);
  border-color: var(--cp-success);
}

cp-tag[color="processing"] {
  color: var(--cp-processing);
  border-color: var(--cp-processing);
}

cp-tag[color="error"] {
  color: var(--cp-error);
  border-color: var(--cp-error);
}

cp-tag[color="warning"] {
  color: var(--cp-warning);
  border-color: var(--cp-warning);
}
